#naelson {
    border-radius: 100px;
}

#marcelo {
    border-radius: 100px;
}

#bg-cal {
    background-color: rgba(243, 243, 243, 0.96);
    box-shadow: 0 1px 3px black;
}

.img {
    margin-top: 5px !important;
}

.result {
    display: none;
}